<%-include  partials/header.ejs %>


<%-include  partials/main_nav.ejs %>  

<!-- Main Content-->
<Main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome To My <%= title %> Page</h1>
      <% if (title == "Home") {%>
        <br>
            <img src="./Assets/images/home.jpg" alt="guy in suit" style="float:center" width = "380" height="270" >
            <H3><br><p><B>I am here to get the most out of what i am learning and become the best at it.<p/><H3>
          <%} %>
      <% if (title == "About") {%>
            <p>Hello! I am Rajan Halai. I am from India but i was in Kenya for last couple of years.
              I Came to canada in 2019 for further studies. I am studying software engineering at Centennial college.</p>
              <img src="./Assets/images/My College.jpeg" alt="My College" style="float:center" width = "380" height="270" >
            <p>I am also interested in Cyber security and learned little while i was in Kenya and curious to know more about it.</p>
            <% } %>
      <% if (title == "Projects") {%>
            <p>Honestly, i have not worked on any real-time projects. <p/>
          <%} %>
      <% if (title == "Services") {%>
        
      <%} %>
      <% if (title == "Contact") {%>
      <div class="row justify-content-md-center">
        <div class="col lg 8 col md 8 col sm 10 col xs 10">
        <form>
          <div class="form-group">
            <label for="firstName"> First Name</label>
            <input type="text" class="form-control" id="firstName" aria-describedby="firstName" 
            name="firstName" placeholder="Enter Your First Name" required>
          </div>

          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" aria-describedby="lastName" 
            name="lastName" placeholder="Enter Your Last Name"required>
          </div>

          <div class="form-group">
            <label for="emailAddress">Email address</label>
            <input type="email" class="form-control" id="emailAddress" aria-describedby="emailAddress" 
            name="emailAddress" placeholder="Example@example.com" required>
          </div>

          <div class="form-group">
            <label for="contactNumber">Contact Number</label>
            <input type="tel" class="form-control" id="contactNumber" aria-describedby="contactNumber" 
            name="contactNumber" placeholder="111-234-5567" required>
          </div>

          <div class="form-group">
            <label for="message">Suggestions</label>
            <textarea class="form-control" id="message" rows="3" placeholder="Any suggesstions..."></textarea>
          </div>
          <button type="submit" class="btn btn-lg btn-primary"  id="sendButton"><i class="fas fa-lg fa-paper-plane"></i> Send</button>
          <button type="reset" class="btn btn-lg btn-warning" id="resetButton"><i class="fas fa-undo"></i> Cancel</button>
      </form>
    </div>
  </div>
    <%} %>
 </div>
</Main>

<%-include  partials/bottom_nav.ejs %>  

<%-include  partials/footer.ejs %>






